---
import styles from './Banner.module.css';
---

<div class={styles.banner__container}>
    <div class={styles.text__container}>
        <h3>
            ¡Calcula tus ganancias!
        </h3>
        <p>
            Ingresa los detalles de los objetivos y costos de tu golpe de Cayo Perico para obtener una estimación precisa.
        </p>
    </div>
</div>